*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'poppins', sans-serif;
  &::-webkit-scrollbar{
    display: none;
  }
  }
  
  /* navbar */
  
  .navbar {
    top: 0;
    left: 0;
    position: fixed;
    width: 100%;
    z-index: 3000;
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);
    background-color: #fff;
  }
  
  .container a h4{
    color: #000;
    font-size: 25px;
   }
   .container a i{
    color: #ff414d;
   }
   .nav{
    margin-left: 56%;
   }
   .nav ul li a{
    color: #000;
    position: relative;
    z-index: 1;
   }
   .navbar-nav .nav-item a.active::before,
   .nav ul li a::before{
    position: absolute;
    content: "";
    height: 2px;
    width: 45%;
    background-color: #ff414d;
    bottom: 0px;
    left: 16px;
    transition: 0.4s ease-in-out;
    transform: scale(0)
  }
  .navbar-nav .nav-item a.active::before,
  .nav ul li a:hover::before{
    transform: scale(1);
  }
  .navbar-nav .nav-item a.active{
    color: #ff414d;
  }
   .nav ul li a:hover{
  color: #ff414d;
   }
   .nav button{
    background-color: #ff414d;
    a,i{
    text-decoration: none;
    color: #fff;
  }
   }
   .nav button:hover{
    background-color: #c5c4c4;
    a,i{
    color: #000;
  }
   }
  @media only screen and (max-width: 990px) {
    
    .nav{
      margin: 10px;
      display: flex;
      flex-direction: column;
    }
    .nav ul{
      justify-content: flex-start;
      align-items: flex-start;
      text-align: left ;
    }
    .nav .button{
      margin-left: -52%;
    }
  }
  
  footer{
    background-color:#10151C;
    color: #fff;
  }
  footer p{
    color: #9e9e9e;
    font-size: 14px;
  }
  footer .container .row .first{
     p{
    line-height: 25px;
  }
  .icon  .i{
    font-size: 15px;
    cursor: pointer;
    color: #9e9e9e;
    transition: 0.4s ease-in-out;
  }
  .icon  .i:hover{
    color: #ff414d;
    transform: scale(1.3);
  }
  }
  footer .container .row .fourth .i{
    color: #ff414d;
    font-size: 15px;
  }
  footer .container .row .second li, .third li{
    list-style: none;
    color: #9e9e9e;
    font-size: 14px;
    line-height: 30px;
    margin-left: -28px;
  }
  footer .container .row .second li a, .third li a{
    text-decoration: none;
    color: #9e9e9e;
    /* margin-left: -20px; */
  }
  footer .container .row .second li a:hover, .third li a:hover{
    color: #7f7d7d;
  }

  #home{
    background-image: url('./assets/homepic.png');
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position-x:0px;
    background-position-y: 0px;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-color: #e8e8e8;
    font-family: 'Poppins', sans-serif;
}
#home span{
    color: #ff414d ;
}
button{
    /* font-size: 0.1rem; */
    font-weight: 500;
    outline: none;
    border: none;
    background-color: #1d1d1d;
    color: aliceblue;
    padding: 8px 15px;
    text-transform: uppercase;
    cursor: pointer;
    border-radius: 6px;
    transition: .5s ease;
}
button:hover{
    background-color: #ff414d;
}

/* banner */
.banner_item1, .banner_item2, .banner_item3 {
  background-size: cover;
  background-position: center center;
  height: 265px;
  min-width: 180px;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center; /* Ensure items are centered both horizontally and vertically */
}

.banner_item1 {
  background-image: url('./assets/banner_1.jpg');
}

.banner_item2 {
  background-image: url('./assets/banner_2.jpg');
}

.banner_item3 {
  background-image: url('./assets/banner_3.jpg');
}

.banner_category {
  height: 50px;
  width: 160px;
  color: #000;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center; 
}

.banner_category a {
  text-decoration: none;
  font-size: 18px;
  text-transform: uppercase;
  color: #000;
  text-align: center;
}
.banner_category a:hover{
color: #b5aec4;
}

/* new arrival */
.newArrival{
  margin-top: 70px;
}
hr{
  height: 4px;
  width: 80px;
  background-color: #fe4c50;
  margin-left: 47%;
  color: #fe4c50;
  opacity: 1;
}
.card:hover{
  .btn{
  visibility: visible !important;
}
}

.callToAction{
  background-color: #e8e8e8;
  margin-top: 70px;
}
.callToAction .text{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/* .callToAction p{
  font-size: 22px;
} */
.callToAction h3{
  font-size: 80px;
}

/* blog */
.blog_item1, .blog_item2, .blog_item3 {
  background-size: cover;
  background-position: center center;
  height: 265px;
  min-width: 180px;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative; 
}

.blog_item1 {
  background-image: url('./assets/blog_1.jpg');
}

.blog_item2 {
  background-image: url('./assets/blog_2.jpg');
}

.blog_item3 {
  background-image: url('./assets/blog_3.jpg');
}

.blog_content {
  position: absolute;
  top: 30px;
  left: 30px;
  background-color: rgba(255, 255, 255, 0.9);
  height: calc(100% - 60px); 
  width: calc(100% - 60px); 
  padding: 10px;
  text-align: center;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  transform-origin: center center;
  transform: scale(.7);
  transition: all .5s ease;
  visibility: hidden;
}
.blogs:hover{
  .blog_content{
  transform: scale(1);
  visibility: visible;
}
}
.blog_content .blog-more{
  color: #ff414d;
}

/* single product page */
.color-swatch {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  margin-right: 10px;
  cursor: pointer;
  border: 2px solid transparent;
  transition: border-color 0.3s;
}

.product-title {
  font-size: 2em;
}

.price {
  font-size: 1.5em;
  color: #ff414d;
}

.main-img {
  width: 500px;
  height: 90%;
  /* border: 1px solid #000; */
}

.small-img {
  width: 100px;
  height: 100px;
  cursor: pointer;
  border: 1px solid #ddd;
  margin-bottom: 10px;
}

.quantity-add input {
  text-align: center;
}

.freeDelivery {
  background-color: #f3f3f3;
  padding: 10px;
  text-align: center;
}
